<footer class="footer">




<!-- <div class="is-center"> -->
    <a href="https://www.freepik.com/search?format=search&query=public%20domain%20elizabeth%20gould"></a>Bird lithographs</a> by <a href="https://en.wikipedia.org/wiki/Elizabeth_Gould_(illustrator)">Elizabeth Gould</a>; <a href="">code and webdesign</a> by <a href="https://oliviaguest.com">Olivia Guest</a>, 2023; all other content by Jessica Ramos-Sanchez. </p> <!-- –{{ site.time | date: '%y' }} -->
<!-- </div> -->
</footer>

<!-- <a href="https://www.freepik.com/free-photo/plain-coloured-finch-amadina-modesta-illustrated-by-elizabeth-gould_3533706.htm#&position=3&from_view=collections">Image by rawpixel.com</a> on Freepik -->