<footer class="footer">
    <div class="row">
        <div class="col-6 is-center">
            {% include social.html %}
        </div>
        <div class="col-6">
            <div class="footer-text">
                <p>
                    <a href="https://commons.wikimedia.org/wiki/Category:The_Birds_of_Australia_(John_Gould)">Bird lithographs</a> by <a href="https://en.wikipedia.org/wiki/Elizabeth_Gould_(illustrator)">Elizabeth Gould</a>; <a href="">code and webdesign</a> by <a href="https://oliviaguest.com">Olivia Guest</a>, 2023; all other content by Jessica Ramos-Sanchez. <!-- –{{ site.time | date: '%y' }} -->
                </p>
            </div>
        </div>
    </div>
</footer>