<div class="row">

    <div class="col col-6-lg">
        <h1><a href="#top">Jessica Ramos-Sanchez</a></h1>
    </div>
    <div class="col col-6-lg">
        <noscript><img id="top-bird" src="{{ site.baseurl }}/images/birds/zosterops.png"></noscript>
        <img id="top-bird">
    </div>

    </div>

<div class="row">
    <div class="col col-6-lg">
        <div class="is-center">
            <img src="{{ site.baseurl }}/images/small_me.jpg">
        </div>
    </div>
    <div class="col col-6-lg">

        <h2 id="about"><a href="#about">About Me</a></h2>

        <!-- <p>Hello! My name is Jess Ramos-Sanchez.</p> -->

        <p>I am currently a Ph.D. candidate at the <a href="https://www.ru.nl/en/people/ramos-sanchez-j">Donders Centre for Cognition</a> and at the <a href="https://babyandchild.nl/en/medewerkers/jessica-ramos-sanchez/">Baby & Child Research Center</a>.
        I am interested in the mechanisms underlying children's curiosity and learning and how these capacities relate to their cognitive development.
        </p>    </div>

  
    </div>