<ul class="socials">
    <li class="social">
        <a href="//scholar.social/@jessica_ramossanchez@neuromatch.social" title="Follow me on Mastodon" style="text-decoration:none" rel="me">
            <i class="fab fa-mastodon" aria-hidden="true"></i>
        </a>
    </li>
    <li class="social">
        <a href="//twitter.com/JessRamos93" title="Follow me on Twitter" style="text-decoration:none" rel="me">
            <i class="fab fa-twitter" aria-hidden="true"></i>
        </a>
    </li>
    <li class="social">
    <a href="//bsky.app/profile/jessramos.bsky.social" title="Follow me on BlueSky" style="text-decoration:none" rel="me">
        <i class="fa-brands fa-bluesky"></i>
     </a>
    </li>
    <li class="social">
        <a href="//orcid.org/0000-0002-7485-9227" title="View my ORCID profile" style="text-decoration:none" rel="me">
            <i class="ai ai-orcid" aria-hidden="true"></i>
        </a>
    </li>
    <li class="social">
        <a href="//www.researchgate.net/profile/Jessica-Ramos-Sanchez" title="View my ResearchGate profile" style="text-decoration:none" rel="me">
            <i class="ai ai-researchgate" aria-hidden="true"></i>
        </a>
    </li>
</ul>