<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <link rel="stylesheet" href="https://unpkg.com/chota@latest">
        <link rel="stylesheet" href="{{ site.baseurl }}/css/custom.css">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Borel&display=swap" rel="stylesheet">
                <script src="https://code.jquery.com/jquery-3.7.1.slim.min.js" integrity="sha256-kmHvs0B+OpCW5GVHUNjv9rOmY0IvSIRcf7zGUDTDQM8=" crossorigin="anonymous"></script>
        <script type="text/javascript" src="{{ site.baseurl }}/js/randomise.js"></script>
        <title>{{ page.title }}</title>
    </head>
    <body>

        <div class="container"> 
            <div class="content"> 
                    <main>
                      {{ content }}
                  </main>


                </div>



            {% include footer.html %}
        </div>


    </body>
</html>